#input{
    display: flex;
    
}
nav{
    background-color: black;
    margin-top: 0;
    margin-bottom: 3%;
}
img{
    width:47%;
display: flex;
margin-left: 26%;
}
h1{
    text-align: center;
}
.container{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}
#credit-inp{
    flex-direction: row;
}
#credit-odeme{
    flex-direction: row;
}
button{
font-size: 100px;
margin-bottom: 10%;
}
body{
    padding-top: 3%;
    background-color: black;
    
}
.container p{
    font-weight: bold;
}
.footer p{
    text-align: center;
    width: 70%;
    flex-direction: row;
    

}
#alert{
    border: 2px solid red ;
    margin-left: 0;
}
p,h1{color: white;}
.footer{
    padding-left: 23%;
    padding-top: 3%;
}